<div class="prices-link">
  <a href="{{pricesUrl}}">Hinnat (hinta.fi)</a>
</div>
<div class="list-group">
  {{#each sources as |source index|}}
    <button type="button" class="list-group-item">
      <span class="price">{{format-price source.priceEur}}</span>
      <span class="delivery">{{source.deliveryTimeMin}}-{{source.deliveryTimeMax}} pv</span>
      <span class="fa fa-check-circle fa-2x" aria-hidden="true"></span>
      <span class="shop-name">{{source.shop.name}}</span>
    </button>
  {{/each}}
  <!-- <button type="button" class="list-group-item">
    <span class="price">64,90 €</span><span class="delivery">1-10 pv</span>
    <span class="fa fa-check-circle fa-2x" aria-hidden="true"></span>
    <span class="shop-name">Nettikauppa</span>
  </button>
  <button type="button" class="list-group-item">
    <span class="price">66,90 €</span><span class="delivery">2-3 vko</span>
    <span class="fa fa-check-circle fa-2x" aria-hidden="true"></span>
    <span class="shop-name">Kauppa-verkossa.com</span>
  </button> -->
</div>
