<div class="prices-link">
  <a href="{{pricesUrl}}">Hinnat</a>
</div>
<div class="list-group">
  {{#each sources as |source index|}}
    <button type="button" class="list-group-item">
      <span class="price">{{format-price source.priceEur}}</span>
      <span class="delivery">{{source.deliveryTimeMin}}-{{source.deliveryTimeMax}} pv</span>
      <span class="fa fa-check-circle fa-2x" aria-hidden="true"></span>
      <span class="shop-name">{{source.shop.name}}</span>
    </button>
  {{/each}}
</div>
