<div class="row">
  <div class="col-xs-6 col-sm-12">
    <ul class="nav nav-stacked nav-pills">
      {{#active-link}}{{link-to "Prosessorit" 'admin.products'}}{{/active-link}}
      {{#active-link}}{{link-to "Jäähdyttimet" 'admin.products'}}{{/active-link}}
      {{#active-link}}{{link-to "Emolevyt" 'admin.products'}}{{/active-link}}
      {{#active-link}}{{link-to "Keskusmuistit" 'admin.products'}}{{/active-link}}
      {{#active-link}}{{link-to "Näytönohjaimet" 'admin.products'}}{{/active-link}}
    </ul>
  </div>
  <div class="col-xs-6 col-sm-12">
    <ul class="nav nav-stacked nav-pills">
      {{#active-link}}{{link-to "Tallennustila" 'admin.products'}}{{/active-link}}
      {{#active-link}}{{link-to "Virtalähteet" 'admin.products.power-supplies'}}{{/active-link}}
      {{#active-link}}{{link-to "Kotelot" 'admin.products'}}{{/active-link}}
      {{#active-link}}{{link-to "Tuulettimet" 'admin.products'}}{{/active-link}}
      {{#active-link}}{{link-to "Lisätarvikkeet" 'admin.products'}}{{/active-link}}
    </ul>
  </div>
</div>
