<div class="row">
  <div class="col-xs-6 col-sm-12">
    <ul class="nav nav-stacked nav-pills">
      {{#active-link}}{{link-to "Monitorit" 'admin.products'}}{{/active-link}}
      {{#active-link}}{{link-to "Näppäimistöt" 'admin.products'}}{{/active-link}}
      {{#active-link}}{{link-to "Hiiret" 'admin.products'}}{{/active-link}}
    </ul>
  </div>
  <div class="col-xs-6 col-sm-12">
    <ul class="nav nav-stacked nav-pills">
      {{#active-link}}{{link-to "Hiirimatot" 'admin.products'}}{{/active-link}}
      {{#active-link}}{{link-to "Kaiuttimet" 'admin.products'}}{{/active-link}}
      {{#active-link}}{{link-to "Kuulokkeet" 'admin.products'}}{{/active-link}}
    </ul>
  </div>
</div>
