<!-- So far, power-supply only! -->
<table class="table table-condensed">
  <tbody class="modal-table">
    <tr>
      <th>Kokoluokka</th>
      <td>{{product.formFactor}}</td>
    </tr>
    <tr>
      <th>Hyötysuhde</th>
      <td>{{product.efficiency}}</td>
    </tr>
    <tr>
      <th>+12V kapasiteetti</th>
      <td>{{product.amps12v}} A</td>
    </tr>
    <tr>
      <th>Alkuperäinen valmistaja</th>
      <td>{{product.oem}}</td>
    </tr>
    <tr>
      <th>Kaapelit</th>
      <td>{{product.cables}}</td>
    </tr>
    <tr>
      <th>EPS-kaapelin pituus</th>
      <td>{{product.epsLengthCm}} cm</td>
    </tr>
    <tr>
      <th>8-pin PCIe-liittimiä</th>
      <td>{{product.pcie8pinQty}} kpl</td>
    </tr>
    <tr>
      <th>6-pin PCIe-liittimiä</th>
      <td>{{product.pcie6pinQty}} kpl</td>
    </tr>
    <tr>
      <th>SATA-liittimiä</th>
      <td>{{product.sataQty}} kpl</td>
    </tr>
    <tr>
      <th>Semipassiivinen tuuletus</th>
      <td>KESKENERÄINEN</td>
    </tr>
    <tr>
      <th>Tuulettimen id</th>
      <td>KESKENERÄINEN</td>
    </tr>
  </tbody>
</table>
