<table class="table table-condensed">
  <tbody class="modal-table">
    <tr>
      <th>Merkki</th>
      <td>{{product.propertyList.brand}}</td>
    </tr>
    <tr>
      <th>Tuotenimi</th>
      <td>{{product.propertyList.productName}}</td>
    </tr>
    <tr>
      <th>Tuotenumero</th>
      <td>{{product.propertyList.sku}}</td>
    </tr>
    <tr>
      <th>Kuvaus</th>
      <td>{{product.propertyList.description}}</td>
    </tr>
    <tr>
      <th>Takuun kesto</th>
      <td>{{product.propertyList.warranty}} vuotta</td>
    </tr>
    <tr>
      <th>Valmistajan URL</th>
      <td>{{product.propertyList.specsUrl}}</td>
    </tr>
    <tr>
      <th>Hinta.fi URL</th>
      <td>{{product.propertyList.pricesUrl}}</td>
    </tr>
    <tr>
      <th>Laatu</th>
      <td>{{product.propertyList.quality}}</td>
    </tr>
    <tr>
      <th>Listattu</th>
      <td>{{product.propertyList.listed}}</td>
    </tr>
  </tbody>
</table>
