<table class="table table-condensed">
  <tbody class="modal-table">
    <tr>
      <th>Pituus</th>
      <td>{{product.propertyList.lengthMm}} mm</td>
    </tr>
    <tr>
      <th>Korkeus</th>
      <td>{{product.propertyList.heightMm}} mm</td>
    </tr>
    <tr>
      <th>Leveys</th>
      <td>{{product.propertyList.widthMm}} mm</td>
    </tr>
    <tr>
      <th>Värit</th>
      <td>{{product.propertyList.colors}}</td>
    </tr>
    <tr>
      <th>LED</th>
      <td>{{product.propertyList.ledColor}}</td>
    </tr>
  </tbody>
</table>
