<div class="container-fluid">
  <div class="row form-area">
    <div class="col-xs-12">

      <h2>Uusi tuote</h2>

      <div class="row">
        <div class="col-xs-8">
          <div class="form-group">
            <select class="form-control" onchange={{action 'selectCategory' value="target.value"}}>
              <option value="">valitse kategoria</option>
              <option value="processor">prosessori</option>
              <option value="cooler">jäähdytin</option>
              <option value="motherboard">emolevy</option>
              <option value="graphics-card">näytönohjain</option>
              <option value="wlan">WLAN-adapteri</option>
              <option value="storage">tallennustila</option>
              <option value="power-supply">virtalähde</option>
              <option value="case">kotelo</option>
              <option value="fan">tuuletin</option>
              <option value="accessory">lisätarvike</option>
            </select>
          </div>
        </div>
      </div>

      <form>
        <button class="btn btn-default btn-block" type="button" data-toggle="collapse" data-target="#generalInfo" aria-expanded="false" aria-controls="generalInfo">
          yleiset tiedot
        </button>

        <div class="form-section collapse in" id="generalInfo">
          <div class="row">
            <div class="col-xs-4">
              <div class="form-group">
                <label class="control-label">merkki</label>
                {{input maxlength=64 class="form-control input-sm" value=model.propertyList.brand}}
              </div>
            </div>
            <div class="col-xs-8">
              <div class="form-group">
                <label class="control-label">tuotenimi</label>
                {{input maxlength=64 class="form-control input-sm" value=model.propertyList.productName}}
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label">kuvaus</label>
            {{textarea maxlength=512 class="form-control" rows="2" value=model.propertyList.description}}
          </div>

          {{#if (eq activeCategory "power-supply")}}
            <div class="checkbox label-small">
              <label>
                {{input type="checkbox" checked=model.product.quiet}} hiljainen
              </label>
            </div>
          {{/if}}

          <div class="row">
            <div class="col-xs-8 col-sm-9">
              <div class="form-group">
                <label class="control-label">valmistajan tuotenumero</label>
                {{input maxlength=64 class="form-control input-sm" value=model.propertyList.sku}}
              </div>
            </div>

            <div class="col-xs-4 col-sm-3">
              <div class="form-group">
                <label class="control-label">takuu (v)</label>
                {{input type="number" min=0 max=99 class="form-control input-sm" placeholder="0" value=model.propertyList.warranty}}
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label">valmistajan tuotesivun URL</label>
            {{input maxlength=256 class="form-control input-sm" placeholder="http://" value=model.propertyList.specsUrl}}
          </div>

          <div class="form-group">
            <label class="control-label">hinta.fi tuotesivun URL</label>
            {{input maxlength=256 class="form-control input-sm" placeholder="http://" value=model.propertyList.pricesUrl}}
          </div>
        </div>  <!-- /form-section -->

        <button class="btn btn-default btn-block" type="button" data-toggle="collapse" data-target="#externalSpecs" aria-expanded="false" aria-controls="generalInfo">
          ulkoiset ominaisuudet
        </button>

        <div class="form-section collapse" id="externalSpecs">
          <div class="row">
            <div class="col-xs-4">
              <div class="form-group">
                <label class="control-label">pituus (mm)</label>
                {{input type="number" min=0 max=999 class="form-control input-sm" placeholder="0" value=model.propertyList.lengthMm}}
              </div>
            </div>

            {{#if (eq activeCategory "power-supply")}}
              <div class="col-xs-8">
                <div class="checkbox offset label-small">
                  <label>
                    {{input type="checkbox" checked=model.product.hasPrettyCables}} nätit kaapelit
                  </label>
                </div>
              </div>
            {{else}}
              <div class="col-xs-4">
                <div class="form-group">
                  <label class="control-label">korkeus (mm)</label>
                  {{input type="number" min=0 max=999 class="form-control input-sm" placeholder="0" value=model.propertyList.heightMm}}
                </div>
              </div>

              <div class="col-xs-4">
                <div class="form-group">
                  <label class="control-label">leveys (mm)</label>
                  {{input type="number" min=0 max=999 class="form-control input-sm" placeholder="0" value=model.propertyList.widthMm}}
                </div>
              </div>
            {{/if}}
          </div>

          <div class="row">
            <div class="col-xs-6">
              <div class="form-group">
                <label class="control-label">värit</label>
                {{input maxlength=64 class="form-control input-sm" placeholder="musta, valkoinen, ..." value=model.propertyList.colors}}
              </div>
            </div>

            <div class="col-xs-6">
              <div class="form-group">
                <label class="control-label">LED</label>
                <select class="form-control" onchange={{action 'setLed' model.propertyList}}>
                  <option value="">valitse</option>
                  <option value="valkoinen">valkoinen</option>
                  <option value="sininen">sininen</option>
                  <option value="punainen">punainen</option>
                  <option value="RGB">RGB</option>
                  <option value="violetti">violetti</option>
                  <option value="keltainen">keltainen</option>
                  <option value="oranssi">oranssi</option>
                  <option value="vihreä">vihreä</option>
                  <option value="harmaa">harmaa</option>
                  <option value="monivärinen">monivärinen</option>
                </select>
              </div>
            </div>
          </div>


        </div>  <!-- /form-section -->

        <button class="btn btn-default btn-block" type="button" data-toggle="collapse" data-target="#technicalSpecs" aria-expanded="false" aria-controls="generalInfo">
          tekniset tiedot
        </button>

        <div class="form-section collapse" id="technicalSpecs">
          {{#if (eq activeCategory "processor")}}
            {{admin/specs-processor}}
          {{/if}}
          {{#if (eq activeCategory "cooler")}}
            {{admin/specs-cooler}}
          {{/if}}
          {{#if (eq activeCategory "motherboard")}}
            {{admin/specs-motherboard}}
          {{/if}}
          {{#if (eq activeCategory "ram")}}
            {{admin/specs-ram}}
          {{/if}}
          {{#if (eq activeCategory "graphics-card")}}
            {{admin/specs-graphics-card}}
          {{/if}}
          {{#if (eq activeCategory "wlan")}}
            {{admin/specs-wlan}}
          {{/if}}
          {{#if (eq activeCategory "storage")}}
            {{admin/specs-storage}}
          {{/if}}
          {{#if (eq activeCategory "power-supply")}}
            {{admin/specs-power-supply product=model.product}}
          {{/if}}
          {{#if (eq activeCategory "case")}}
            {{admin/specs-case}}
          {{/if}}
          {{#if (eq activeCategory "fan")}}
            {{admin/specs-fan}}
          {{/if}}
          {{#if (eq activeCategory "accessory")}}
            {{admin/specs-accessory}}
          {{/if}}
        </div>  <!-- /form-section -->

        <hr />

        <div class="row">
          <div class="col-xs-3">
            <div class="form-group">
              <label class="control-label">laatu</label>
              {{input type="number" min=0 max=999 class="form-control input-sm" placeholder="0" value=model.propertyList.quality}}
            </div>
          </div>

          <div class="col-xs-9">
            <div class="checkbox offset label-small">
              <label>
                {{input type="checkbox" checked=model.propertyList.listed}} listaa tuote
              </label>
            </div>
          </div>
        </div>

        <button class="btn btn-default btn-block" type="submit" {{action "saveNewProduct" model.propertyList model.Product}}>tallenna</button>
      </form>

    </div>
  </div> <!-- /form-area -->
</div> <!-- /container -->
