<div class="container-fluid">
  <div class="row products-area">

    <div class="row">
      <div class="col-xs-12">
        <ul class="nav nav-tabs">
          <li class="tab-selector {{if showComponentCategories 'active'}}"><a {{action "selectComponents"}}>Komponentit</a></li>
          <li class="tab-selector {{if showPeripheralCategories 'active'}}"><a {{action "selectPeripherals"}}>Oheislaitteet</a></li>
          {{#link-to 'admin.new-product' tagName='button' classNames='btn btn-default pull-right'}}
            <i class="fa fa-plus" aria-hidden="true"></i><span class="text">Uusi</span>
          {{/link-to}}
        </ul>
      </div>
    </div>

    <div class="row products-main">
      <div class="category-list">
        {{#if showComponentCategories}}
          {{admin/products/categories-components}}
        {{/if}}
        {{#if showPeripheralCategories}}
          {{admin/products/categories-peripherals}}
        {{/if}}
      </div>

      <div class="products-list">
        {{outlet}}
      </div>
    </div>

  </div> <!-- products-area -->
</div> <!-- container-fluid -->
