<div class="row">
  <div class="col-xs-4">
    <div class="form-group">
      <label class="control-label">Koko</label>
      <select class="form-control" onchange={{action 'setFormFactor' product}}>
        <option value="">valitse</option>
        <option value="ATX">ATX</option>
        <option value="SFX">SFX</option>
        <option value="SFX-L">SFX-L</option>
        <option value="TFX">TFX</option>
        <option value="Flex-ATX">Flex-ATX</option>
      </select>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="form-group">
      <label class="control-label">Hyötysuhde</label>
      <select class="form-control" onchange={{action 'setEfficiency' product}}>
        <option value="">valitse</option>
        <option value="80+">80+</option>
        <option value="80+ Bronze">80+ Bronze</option>
        <option value="80+ Silver">80+ Silver</option>
        <option value="80+ Gold">80+ Gold</option>
        <option value="80+ Platium">80+ Platinum</option>
        <option value="80+ Titanium">80+ Titanium</option>
      </select>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="form-group">
      <label class="control-label">+12V kapasiteetti (A)</label>
      {{input min=0 max=999 type="number" class="form-control input-sm" placeholder="0" value=product.amps12v}}
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-4">
    <div class="checkbox label-small">
      <label>
        {{input type="checkbox" checked=product.fullModular}} täysmodulaarinen
      </label>
    </div>
  </div>

  <div class="col-xs-8">
    <div class="checkbox label-small">
      <label>
        {{input type="checkbox" checked=product.semiModular}} semimodulaarinen
      </label>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-8">
    <div class="form-group">
      <label class="control-label">Alkuperäinen valmistaja</label>
      {{input maxlength=64 class="form-control input-sm" value=product.oem}}
    </div>
  </div>
  <div class="col-xs-4">
    <div class="form-group">
      <label class="control-label">EPS-kaapeli (cm)</label>
      {{input type="number" min=0 max=999 class="form-control input-sm" placeholder="0" value=product.epsLengthCm}}
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-4">
    <div class="form-group">
      <label class="control-label">8-pin PCIe (kpl)</label>
      {{input type="number" min=0 max=99 class="form-control input-sm" placeholder="0" value=product.pcie8pinQty}}
    </div>
  </div>
  <div class="col-xs-4">
    <div class="form-group">
      <label class="control-label">6-pin PCIe (kpl)</label>
      {{input type="number" min=0 max=99 class="form-control input-sm" placeholder="0" value=product.pcie6pinQty}}
    </div>
  </div>
  <div class="col-xs-4">
    <div class="form-group">
      <label class="control-label">SATA (kpl)</label>
      {{input type="number" min=0 max=99 class="form-control input-sm" placeholder="0" value=product.sataQty}}
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-3">
    <div class="form-group">
      <label class="control-label">tuulettimen id</label>
      {{input type="number" min=1 max=999 class="form-control input-sm" placeholder="0" value=product.fan_id}}
    </div>
  </div>
  <div class="col-xs-4">
    <div class="checkbox offset label-small">
      <label>
        {{input type="checkbox" checked=product.semipassive}} semipassiivinen
      </label>
    </div>
  </div>
  <div class="col-xs-5">
    <div class="checkbox offset label-small">
      <label>
        {{input type="checkbox" checked=product.hasFanSwitch}} tuuletinmoodin kytkin
      </label>
    </div>
  </div>
</div>
