<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 col-lg-1 sidebar">
      <ul class="nav nav-sidebar">
        <li><a href="#">Prosessorit</a></li>
        <li><a href="#">Jäähdyttimet</a></li>
        <li><a href="#">Emolevyt</a></li>
        <li><a href="#">Muistit</a></li>
        <li><a href="#">Näytönohjaimet</a></li>
        <li><a href="#">SSD-levyt</a></li>
        <li><a href="#">Kiintolevyt</a></li>
        <li class="active"><a href="#">Virtalähteet<span class="sr-only">(current)</span></a></li>
        <li><a href="#">Kotelot</a></li>
        <li><a href="#">Tuulettimet</a></li>
        <li><a href="#">Lisätarvikkeet</a></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li><a href="#">Näytöt</a></li>
        <li><a href="#">Näppäimistöt</a></li>
        <li><a href="#">Hiiret</a></li>
        <li><a href="#">Hiirimatot</a></li>
        <li><a href="#">Kuulokkeet</a></li>
        <li><a href="#">Kaiuttimet</a></li>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 col-lg-11 col-lg-offset-1 main">
      <div class="table-responsive text-nowrap">
        <table class="table table-striped">
          <thead class="top-row">
            <tr class="header-group">
              <th class="first-column mid-column" colspan=4>Yleistiedot</th>
              <th class="mid-column" colspan=9>Speksit</th>
              <th class="last-column" colspan=4>Tuuletin</th>
            </tr>
            <tr>
              <th class="first-column">Merkki</th>
              <th>Tuote</th>
              <th>SKU</th>
              <th class="mid-column">Takuu</th>

              <th>+12V watit</th>
              <th>Hyötysuhde</th>
              <th>Valmistaja</th>
              <th>Koko</th>
              <th>Pituus</th>
              <th>Kaapelit</th>
              <th>PCIe-liittimiä</th>
              <th>SATA-liittimiä</th>
              <th class="mid-column">Jäähdytys</th>

              <th>Malli</th>
              <th>Koko</th>
              <th>Pyörimisnopeus</th>
              <th class="last-column">Laakeri</th>
  					</tr>
  				</thead>
          <tbody class="bottom-row">
            {{#each model as |psu|}}
            <tr>
              <td class="first-column">{{psu.propertyList.brand}}</td>
              <td><a href={{psu.propertyList.pricesUrl}}><div>{{psu.propertyList.productName}}</div></a></td>
              <td><a href={{psu.propertyList.specsUrl}}><div>{{psu.propertyList.sku}}</div></a></td>
              <td class="mid-column">{{psu.propertyList.warranty}} vuotta</td>

              <td>{{psu.watts12v}} W</td>
              <td>{{psu.efficiency}}</td>
              <td>{{psu.oem}}</td>
              <td>{{psu.formFactor}}</td>
              <td>{{psu.propertyList.lengthMm}} mm</td>
              {{#if psu.fullModular}}
                <td>täysmodulaariset</td>
              {{else if psu.semiModular}}
                <td>semimodulaariset</td>
              {{else}}
                <td>kiinteät</td>
              {{/if}}
              <td>{{psu.pcieConnectors}}</td>
              <td>{{psu.sataQty}} kpl</td>
              <td class="mid-column">{{if psu.semipassive "semipassiivinen" "aktiivinen"}}</td>

              <td><a href={{psu.fan.propertyList.specsUrl}}><div>{{psu.fan.propertyList.sku}}</div></a>
              </td>
              <td>{{psu.fan.propertyList.widthMm}} mm</td>
              <td>{{psu.fan.minRpm}}-{{psu.fan.maxRpm}} RPM</td>
              <td class="last-column">{{psu.fan.bearing}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
