<div class="container-fluid">

  <!-- CATEGORIES -->
  <div class="row category-area">
    <div class="col-xs-6 col-sm-1of5 category">
      <ul class="nav nav-stacked">
        {{#active-link}}{{link-to "Prosessorit" 'products.fans'}}{{/active-link}}
      </ul>
    </div>
    <div class="col-xs-6 col-sm-1of5 category">
      <ul class="nav nav-stacked">
        {{#active-link}}{{link-to "Jäähdyttimet" 'products.fans'}}{{/active-link}}
      </ul>
    </div>
    <div class="col-xs-6 col-sm-1of5 category">
      <ul class="nav nav-stacked">
        {{#active-link}}{{link-to "Emolevyt" 'products.fans'}}{{/active-link}}
      </ul>
    </div>
    <div class="col-xs-6 col-sm-1of5 category">
      <ul class="nav nav-stacked">
        {{#active-link}}{{link-to "Keskusmuistit" 'products.fans'}}{{/active-link}}
      </ul>
    </div>
    <div class="col-xs-6 col-sm-1of5 category">
      <ul class="nav nav-stacked">
        {{#active-link}}{{link-to "Näytönohjaimet" 'products.fans'}}{{/active-link}}
      </ul>
    </div>
    <div class="col-xs-6 col-sm-1of5 category">
      <ul class="nav nav-stacked">
        {{#active-link}}{{link-to "Tallennustila" 'products.fans'}}{{/active-link}}
      </ul>
    </div>
    <div class="col-xs-6 col-sm-1of5 category">
      <ul class="nav nav-stacked">
        {{#active-link}}{{link-to "Virtalähteet" 'products.power-supplies'}}{{/active-link}}
      </ul>
    </div>
    <div class="col-xs-6 col-sm-1of5 category">
      <ul class="nav nav-stacked">
        {{#active-link}}{{link-to "Kotelot" 'products.fans'}}{{/active-link}}
      </ul>
    </div>
    <div class="col-xs-6 col-sm-1of5 category">
      <ul class="nav nav-stacked">
        {{#active-link}}{{link-to "Tuulettimet" 'products.fans'}}{{/active-link}}
      </ul>
    </div>
    <div class="col-xs-6 col-sm-1of5 category">
      <ul class="nav nav-stacked">
        {{#active-link}}{{link-to "Lisätarvikkeet" 'products.fans'}}{{/active-link}}
      </ul>
    </div>
  </div>  <!-- /row -->
  <!-- /CATEGORIES -->

</div> <!-- /container-fluid -->

{{outlet}}
