<!-- <h1>Parts/index template</h1> -->

<div class="container-fluid">

  <div class="row listings-area">

    {{parts/tile-main}}
    {{parts/tile-main}}
    {{parts/tile-main}}
    {{parts/tile-main}}
    {{parts/tile-main}}
    {{parts/tile-main}}
    {{parts/tile-main}}
    {{parts/tile-main}}
    {{parts/tile-main}}
    {{parts/tile-main}}
    {{parts/tile-main}}
    {{parts/tile-main}}

  </div>

</div>
