<!-- <h1>Parts/index template</h1> -->

<div class="container-fluid">

  <div class="row listings-area">

    {{parts/part-tile}}
    {{parts/part-tile}}
    {{parts/part-tile}}
    {{parts/part-tile}}
    {{parts/part-tile}}
    {{parts/part-tile}}
    {{parts/part-tile}}
    {{parts/part-tile}}
    {{parts/part-tile}}
    {{parts/part-tile}}
    {{parts/part-tile}}
    {{parts/part-tile}}

  </div>

</div>
