<div class="container-fluid">

  <div class="listings-area">

    {{#each model as |psu|}}

    <div class="row listing-item">
      <div class="row">
        <span>{{psu.propertyList.brand}} {{psu.propertyList.productName}} ({{psu.formFactor}}, {{psu.efficiency}})</span>
      </div>
      <div class="col-sm-7 item-specs">

        <div class="row">
          <div class="col-xs-5">
            <div class="row">{{psu.watts12v}}W +12V</div>
            <div class="row">OEM: {{psu.oem}}</div>
            <div class="row">{{psu.propertyList.warranty}} vuoden takuu</div>
          </div>
          <div class="col-xs-5">
            <div class="row">{{psu.pcieConnectors}} PCIe</div>
            <div class="row">{{psu.sataQty}} x SATA</div>
            <div class="row">
              {{#if psu.fullModular}}
                täysmodulaariset
              {{else if psu.semiModular}}
                semimodulaariset
              {{else}}
                kiinteät
              {{/if}}
                kaapelit
            </div>
          </div> <!-- col item-info -->

          <div class="col-xs-2 item-additional">
            <span class="sku">{{psu.propertyList.sku}}</span>
          </div> <!-- col item-additional -->

        </div> <!-- row -->

      </div> <!-- col item-specs -->

      <div class="col-sm-5 item-shops">
        <div class="row">
          <span>{{psu.sortedSources.firstObject.priceEur}} € @ {{psu.sortedSources.firstObject.shop.name}}
             ({{psu.sortedSources.firstObject.deliveryTimeMin}}-{{psu.sortedSources.firstObject.deliveryTimeMax}} pv)</span>
          <a href={{src.shopUrl}}><i class="fa fa-link align-right" aria-hidden="true"></i></a>
        </div>
        <div class="row"><a href="{{psu.propertyList.pricesUrl}}">{{psu.propertyList.pricesUrl}}</a></div>
      </div> <!-- col  -->

    </div> <!-- row listing-item -->

    {{/each}}

  </div> <!-- listings-area -->

</div> <!-- container-fluid -->
