<div class="table-responsive text-nowrap">
  <table class="table table-striped">
    <thead class="top-row">
      <tr class="header-group">
        <th class="first-column mid-column" colspan=4>Yleistiedot</th>
        <th class="mid-column" colspan=8>Speksit</th>
      </tr>
      <tr>
        <th class="first-column">Merkki</th>
        <th>Tuote</th>
        <th>SKU</th>
        <th class="mid-column">Takuu</th>

        <th>Koko</th>
        <th>Liitin</th>
        <th>Pyörimisnopeus</th>
        <th>Lähtöjännite</th>
        <th>Laakeri</th>
        <th>Kestävyys (MTBF)</th>
        <th>Värit</th>
        <th class="last-column">LED</th>
			</tr>
		</thead>
    <tbody class="bottom-row">
      {{#each model as |fan|}}
      <tr>
        <td class="first-column">{{fan.propertyList.brand}}</td>
        <td><a href={{fan.propertyList.pricesUrl}}><div>{{fan.propertyList.productName}}</div></a></td>
        <td><a href={{fan.propertyList.specsUrl}}><div>{{fan.propertyList.sku}}</div></a></td>
        <td class="mid-column">{{fan.propertyList.warranty}} vuotta</td>

        <td>{{fan.propertyList.widthMm}} x {{fan.propertyList.heightMm}} x {{fan.thicknessMm}} mm</td>
        <td>{{if fan.hasPwm "4-pin (PWM)" "3-pin"}}</td>
        <td>{{fan.minRpm}}-{{fan.maxRpm}} RPM</td>
        <td>{{fan.startingVoltage}}V</td>
        <td>{{fan.bearing}}</td>
        <td>{{fan.mtbfHours}} tuntia</td>
        <td>{{fan.propertyList.colors}}</td>
        {{#if fan.propertyList.ledColor}}
          <td class="last-column">{{fan.propertyList.ledColor}}</td>
        {{else}}
          <td class="last-column">ei</td>
        {{/if}}
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
